flows.json
[{"id":"348a7ec7.4640b2","type":"tab","label":"Compare CFs","disabled":false,"info":""},{"id":"c463fcc8.59e87","type":"inject","z":"348a7ec7.4640b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["43697d10.5565f4"]]},{"id":"a954f41b.bb0e18","type":"debug","z":"348a7ec7.4640b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":320,"wires":[]},{"id":"67bf0096.62277","type":"function","z":"348a7ec7.4640b2","name":"Parse CFs","func":"let postUrls = []\nfor (let i = 0; i < msg.payload.hits.length; i++) {   \n    let postUrl = 'http://localhost:4503' + msg.payload.hits[i].path + '/jcr:content.json'     \n    postUrls.push(postUrl)\n  console.log(`==> ${postUrl}`)\n}\nmsg.payload = postUrls\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":240,"wires":[["cafda218.6d501"]]},{"id":"43697d10.5565f4","type":"http request","z":"348a7ec7.4640b2","name":"Find CFs","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:4502/bin/querybuilder.json?path=/content/dam&type=dam:Asset&1_property=@jcr:content/contentFragment&1_property.value=true&p.limit=100&guessTotal=true","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":180,"wires":[["dcc2429b.d1ca8"]]},{"id":"cafda218.6d501","type":"split","z":"348a7ec7.4640b2","name":"Split CF Results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":320,"y":240,"wires":[["d63ccede.1a487"]]},{"id":"dcc2429b.d1ca8","type":"json","z":"348a7ec7.4640b2","name":"","property":"payload","action":"","pretty":false,"x":510,"y":180,"wires":[["67bf0096.62277"]]},{"id":"d63ccede.1a487","type":"change","z":"348a7ec7.4640b2","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["ad8d743a.2e02a8"]]},{"id":"ad8d743a.2e02a8","type":"http request","z":"348a7ec7.4640b2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":190,"y":320,"wires":[["a954f41b.bb0e18"]]}]