flows.json
[{"id":"348a7ec7.4640b2","type":"tab","label":"Compare CFs","disabled":false,"info":""},{"id":"df50f29b.ef2c3","type":"tab","label":"Compare CFs","disabled":false,"info":""},{"id":"c463fcc8.59e87","type":"inject","z":"348a7ec7.4640b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["43697d10.5565f4"]]},{"id":"a954f41b.bb0e18","type":"debug","z":"348a7ec7.4640b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":260,"wires":[]},{"id":"67bf0096.62277","type":"function","z":"348a7ec7.4640b2","name":"Parse CFs","func":"let postUrls = []\nmsg.lastReps = new Map()\nfor (let i = 0; i < msg.payload.hits.length; i++) {\n    uri = msg.payload.hits[i][\"jcr:path\"]\n    curRepState = msg.payload.hits[i][\"cq:lastReplicationAction\"]\n    \n    if (curRepState !== \"Activate\") {\n      console.log(`${uri} => NOT_PUBLISHED`)\n    } else {\n        postUrls.push('http://localhost:4503' + uri + '.json' )\n        msg.lastReps.set(uri, msg.payload.hits[i][\"jcr:lastModified\"])\n    }\n}\nmsg.payload = postUrls\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":180,"wires":[["cafda218.6d501"]]},{"id":"43697d10.5565f4","type":"http request","z":"348a7ec7.4640b2","name":"Find CFs","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:4502/bin/querybuilder.json?path=/content/dam&2_property=jcr:primaryType&2_property.value=dam:AssetContent&1_property=contentFragment&1_property.value=true&p.hits=full&p.nodedepth=1&p.limit=100&p.guessTotal=true","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":120,"wires":[["dcc2429b.d1ca8"]]},{"id":"cafda218.6d501","type":"split","z":"348a7ec7.4640b2","name":"Split CF Results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":180,"wires":[["d63ccede.1a487"]]},{"id":"dcc2429b.d1ca8","type":"json","z":"348a7ec7.4640b2","name":"","property":"payload","action":"","pretty":false,"x":560,"y":120,"wires":[["67bf0096.62277"]]},{"id":"d63ccede.1a487","type":"change","z":"348a7ec7.4640b2","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["ad8d743a.2e02a8"]]},{"id":"ad8d743a.2e02a8","type":"http request","z":"348a7ec7.4640b2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":150,"y":260,"wires":[["2d260744.d0efe8"]]},{"id":"4a26ce18.87486","type":"function","z":"348a7ec7.4640b2","name":"Compare Timestamps","func":"// TODO: rewrite to match the URI with a grouping pattern\nlet selfPath = msg.url.replace(\"http://localhost:4503\", \"\").replace(\".json\", \"\")\n\nif (msg.lastReps.has(selfPath)) {\n  // compare\n  let authorDate = new Date(msg.lastReps.get(selfPath))\n  let publishDate = new Date(msg.payload[\"jcr:lastModified\"])\n  if (authorDate !== publishDate) {\n    console.log(`${selfPath} ${authorDate} == ${publishDate} => OUT_OF_DATE`)\n  } else {\n      console.log(`${selfPath} => OK`)\n  }\n} else {\n  console.log(`No entry found for key: ${selfPath}`)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["a954f41b.bb0e18"]]},{"id":"2d260744.d0efe8","type":"json","z":"348a7ec7.4640b2","name":"","property":"payload","action":"","pretty":false,"x":310,"y":260,"wires":[["4a26ce18.87486"]]},{"id":"dd9ef5b2.3d7338","type":"http in","z":"348a7ec7.4640b2","name":"hello","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["43697d10.5565f4"]]},{"id":"8675c3b0.76913","type":"inject","z":"df50f29b.ef2c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["bcef0a80.ccb0b8"]]},{"id":"b3cb39d6.287d68","type":"debug","z":"df50f29b.ef2c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"4f6082f6.6d646c","type":"function","z":"df50f29b.ef2c3","name":"Parse CFs","func":"let postUrls = []\nmsg.lastReps = new Map()\nfor (let i = 0; i < msg.payload.hits.length; i++) {\n    uri = msg.payload.hits[i][\"jcr:path\"]\n    curRepState = msg.payload.hits[i][\"cq:lastReplicationAction\"]\n    \n    if (curRepState !== \"Activate\") {\n      console.log(`${uri} => NOT_PUBLISHED`)\n    } else {\n        postUrls.push('http://localhost:4503' + uri + '.json' )\n        msg.lastReps.set(uri, msg.payload.hits[i][\"jcr:lastModified\"])\n    }\n}\nmsg.payload = postUrls\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":180,"wires":[["e6d0da2a.d78688"]]},{"id":"bcef0a80.ccb0b8","type":"http request","z":"df50f29b.ef2c3","name":"Find CFs","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:4502/bin/querybuilder.json?path=/content/dam&2_property=jcr:primaryType&2_property.value=dam:AssetContent&1_property=contentFragment&1_property.value=true&p.hits=full&p.nodedepth=1&p.limit=100&p.guessTotal=true","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":120,"wires":[["99c06188.6577b"]]},{"id":"e6d0da2a.d78688","type":"split","z":"df50f29b.ef2c3","name":"Split CF Results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":180,"wires":[["d6dd3f53.c4996"]]},{"id":"99c06188.6577b","type":"json","z":"df50f29b.ef2c3","name":"","property":"payload","action":"","pretty":false,"x":560,"y":120,"wires":[["4f6082f6.6d646c"]]},{"id":"d6dd3f53.c4996","type":"change","z":"df50f29b.ef2c3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["4dd0e206.4d65ec"]]},{"id":"4dd0e206.4d65ec","type":"http request","z":"df50f29b.ef2c3","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":150,"y":260,"wires":[["c9d9fb.3b68f608"]]},{"id":"b0075c56.6591c","type":"function","z":"df50f29b.ef2c3","name":"Compare Timestamps","func":"// TODO: rewrite to match the URI with a grouping pattern\nlet selfPath = msg.url.replace(\"http://localhost:4503\", \"\").replace(\".json\", \"\")\n\nif (msg.lastReps.has(selfPath)) {\n  // compare\n  let authorDate = new Date(msg.lastReps.get(selfPath))\n  let publishDate = new Date(msg.payload[\"jcr:lastModified\"])\n  if (authorDate !== publishDate) {\n    console.log(`${selfPath} ${authorDate} == ${publishDate} => OUT_OF_DATE`)\n  } else {\n      console.log(`${selfPath} => OK`)\n  }\n} else {\n  console.log(`No entry found for key: ${selfPath}`)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["b3cb39d6.287d68"]]},{"id":"c9d9fb.3b68f608","type":"json","z":"df50f29b.ef2c3","name":"","property":"payload","action":"","pretty":false,"x":310,"y":260,"wires":[["b0075c56.6591c"]]},{"id":"598dc1d3.2caa7","type":"http in","z":"df50f29b.ef2c3","name":"hello","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":130,"y":40,"wires":[["bcef0a80.ccb0b8"]]}]