flows.json
[{"id":"348a7ec7.4640b2","type":"tab","label":"Compare CFs","disabled":false,"info":""},{"id":"c463fcc8.59e87","type":"inject","z":"348a7ec7.4640b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["43697d10.5565f4"]]},{"id":"67bf0096.62277","type":"function","z":"348a7ec7.4640b2","name":"Parse CFs","func":"let postUrls = []\nmsg.lastReps = new Map()\nfor (let i = 0; i < msg.payload.hits.length; i++) {\n    uri = msg.payload.hits[i][\"jcr:path\"]\n    curRepState = msg.payload.hits[i][\"cq:lastReplicationAction\"]\n    \n    if (curRepState !== \"Activate\") {\n      console.log(`${uri} => NOT_PUBLISHED`)\n    } else {\n        postUrls.push('http://localhost:4503' + uri + '.json' )\n        msg.lastReps.set(uri, msg.payload.hits[i][\"jcr:lastModified\"])\n    }\n}\nmsg.payload = postUrls\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":300,"wires":[["cafda218.6d501"]]},{"id":"43697d10.5565f4","type":"http request","z":"348a7ec7.4640b2","name":"Find CFs","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:4502/bin/querybuilder.json?path=/content/dam&2_property=jcr:primaryType&2_property.value=dam:AssetContent&1_property=contentFragment&1_property.value=true&p.hits=full&p.nodedepth=1&p.limit=100&p.guessTotal=true","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":240,"wires":[["dcc2429b.d1ca8"]]},{"id":"cafda218.6d501","type":"split","z":"348a7ec7.4640b2","name":"Split CF Results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":300,"wires":[["d63ccede.1a487"]]},{"id":"dcc2429b.d1ca8","type":"json","z":"348a7ec7.4640b2","name":"","property":"payload","action":"","pretty":false,"x":540,"y":240,"wires":[["67bf0096.62277"]]},{"id":"d63ccede.1a487","type":"change","z":"348a7ec7.4640b2","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["ad8d743a.2e02a8"]]},{"id":"ad8d743a.2e02a8","type":"http request","z":"348a7ec7.4640b2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":130,"y":380,"wires":[["2d260744.d0efe8"]]},{"id":"4a26ce18.87486","type":"function","z":"348a7ec7.4640b2","name":"Compare Timestamps","func":"// TODO: rewrite to match the URI with a grouping pattern\nlet selfPath = msg.url.replace(\"http://localhost:4503\", \"\").replace(\".json\", \"\")\n\nif (msg.lastReps.has(selfPath)) {\n  // compare\n  let authorDate = new Date(msg.lastReps.get(selfPath))\n  let publishDate = new Date(msg.payload[\"jcr:lastModified\"])\n  if (authorDate.toString() === publishDate.toString()) {\n      console.log(`${selfPath} => OK`)\n  } else {\n      console.log(`${selfPath} => OUT_OF_DATE`)\n  }\n} else {\n  console.log(`No entry found for key: ${selfPath}`)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[[]]},{"id":"2d260744.d0efe8","type":"json","z":"348a7ec7.4640b2","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[["4a26ce18.87486"]]},{"id":"dd9ef5b2.3d7338","type":"http in","z":"348a7ec7.4640b2","name":"/api/cf/publish-diff","url":"/api/cf/publish-diff","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["43697d10.5565f4"]]}]